* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

/* .clearfix::after {
	content:'';
	display: table;
	clear: both;
} */

.centered {
	max-width: 1000px;
	margin: auto;
	position: relative;
}

.top-nav {
	background-color: #3161e0;
	height: 4rem;
	text-align: center;
}

.logo {
	height: 2rem;
	
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);
}

a {
	text-decoration: none;
}


nav ul {
	list-style: none;
	display: inline-block;
}

.top-nav li>a {
	height: 2rem;
	line-height: 4rem;
	vertical-align: middle;
	
	padding: 1rem;

	font-weight: 600;
}

nav ul>li {
	display: inline-block;
}

nav li>a {
	color: white;
}

.btn {
	display: inline-block;
	height: 2em;
	line-height: 2em;
	vertical-align: middle;
	border-radius: 1em;
	padding: 0 1em;
}

.log-in {
	background-color: white;
	color: black;

	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
}