* { /* Reset*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* General rules */

html {
	font-family: sans-serif;
}

.clearfix::after {
	content:'';
	display: table;
	clear: both;
}

.centered {
	max-width: 1200px;
	margin: auto;
	position: relative;
}

.vertical-centered {
	width: fit-content;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

nav ul {
	list-style: none;
}

a {
	text-decoration: none;
}

li>a:hover {
	text-decoration: underline;
}

.logo {
	height: 2rem;
}

/* Buttons rules */
.btn {
	display: inline-block;
	height: 2.6em;
	line-height: 2.6em;
	vertical-align: middle;
	border-radius: 1.3em;
	padding: 0 1.3em;
	
	font-weight: 500;
}

.btn:hover {
	box-shadow: 0 7px 15px #00000040;
}

.btn-white {
	background-color: white;
	color: black;
}

.btn-white:hover {
	color: #5865f2;
}

.btn-black {
	background-color: #23272a;
	color: white;
}

.btn-purple {
	background-color: #8ea1e1;
	color: white;
}

.btn:not(.btn-white):hover {
	filter: brightness(1.2);
}

/* Top navbar rules */
.top-nav {
	background-color: #3161e0;
	
	height: 4rem;
	text-align: center;
}

.top-nav .logo {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);
}

.top-nav li>a {
	height: 2rem;
	line-height: 4rem;
	vertical-align: middle;
	
	padding: 1rem;

	font-weight: 600;
}

.top-nav ul>li {
	display: inline-block;
}

.top-nav li>a {
	color: white;
}


.top-nav .btn {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
}

/* Main rules */

/* Header rules */
header {
	background-image: url(../img/jumbo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	height: 700px;

	position: relative;

	color: white;
	text-align: center;
}


header h1, header p {
	width: 65%;
	margin: auto;
}

header h1 {
	font-size: 4rem;
	
	margin-bottom: 3rem;
}

header p {
	font-size: 1.3rem;
	
	margin-bottom: 2rem;
}

header .btn {
	font-size: 1.3rem;
}

header .btn+.btn {
	margin-left: 1rem;
}

.fa-long-arrow-alt-down {
	font-size: .8em;
	font-weight: 600;
	vertical-align: 1px;
	
	margin-right: .5em;
}

/* Sections rules */

.bg-block {
	width: 100%;
	position: relative;
	
	margin-top: -4px; /*waves fix*/
}

.bg-block:not(:last-child) {
	height: 900px;
}

.bg-block:nth-of-type(even) {
	background-color: #f6f6f6;
}

.bg-block:nth-of-type(odd) img {
	width: 60%;
	margin-right: 9rem;
	
	float: left;
}

.bg-block:nth-of-type(2) img {
	width: 60%;
	margin-left: 9rem;
	
	float: right;
}

.bg-block:last-child {
	height: 1200px;
	
	text-align: center;
}

.bg-block:last-child img {
	width: 100%;
}

section h2 {
	font-size: 2.8rem;
	font-weight: 700;
	
	margin-top: 2rem;
	margin-bottom: 1.5rem;
}

section p {
	font-size: 1.2rem;
}

.bg-block:last-child h3 {
	font-size: 1.7rem;
	font-weight: 700;

	width: fit-content;
	margin: 0 auto 2rem;
	padding: 1.1em 1.6em 0;

	background-image: url(../img/stars.svg);
	background-repeat: no-repeat;
}

.bg-block:last-child .btn {
	font-size: 1.2rem;
}

/* Footer rules*/

footer {
	background-color: #23272a;
	color: white;

	padding: 5rem 0;

	font-size: .8rem;
}

footer a {
	color: white;
}

.left-footer {
	width: 30%;
	float: left;
}

footer h4, footer h5{
	color: #7289da;
}

.left-footer h4 {
	font-size: 1.6rem;
	width: 60%;
}

.language-selection {
	margin: 1.5rem 0;
}

.language-selection img{
	height: 1em;
}

.social-media a {
	margin: .5rem;
	font-size: 1.2rem;
}

.bottom-nav {
	display: inline-block;
	width: 65%;
	margin-bottom: 2rem;
}

.bottom-nav>ul>li {
	float: left;
	width: 25%;
}

.bottom-nav h5 {
	font-size: 1rem;
	margin-bottom: .5em;
}

.bottom-nav a {
	line-height: 2em;
}

.footer-bottom {
	border-top: 1px solid #7289da;
	padding-top: 1rem;
}

.footer-bottom .btn {
	float: right;

}

/* Waves rules */

main .wave-1hkxOo path {
	fill: #f6f6f6;
}

main .wave-1hkxOo:nth-of-type(2) path {
	transform-origin: center;
	transform: rotateX(180deg);
}
